.hello-section{
    background: #FEC90E;
    padding-top: 80px;
}
.helo-sec-heading{
    font-size: 56px;
    font-weight: bold;
    color: #fff;
}
/* fixed class */
.c-yelo{
    color: #FFB203;
}
.b-yelo{
    background: #FFB203;
}
.b-dark-yelo{
    background: #FF9D01;
}
.c-lit-dang{
    color: #F17228;
}
.c-lit-dang2{
    color: #FE6D01;
}
.b-lit-dang{
    background: #F17228;
}
.b-lit-pink{
    background: #FEFAF1;
}
.b-dark-pink{
    background: #FCE3D4;
}
.b-dark-pink2{
    background: #FEEFD0;
}
.b-lit-green{
    background: #E4F1D8;
}
.c-lit-green{
    color: #79B93C;
}
.smal-txt{
    font-size: 12px;
}
/* ////end fixed class///// */
.dis-badge{
    background: #FFBF09;
    color: #fff;
    width: 45%;
    border-top-right-radius: 20px;
    padding: 5px 10px;
    position: absolute;
    bottom: 0;
}
.fri-badges{
    position: absolute;
    top: 10px;
    left: 10px;
    border-bottom-left-radius: 10px;
}
.per_off,
.per_off,
.per_off,
.per_off{
    font-size: 36px;
}
.m-img-box{
    position: relative;
}
.m-img-box img{
    border-radius: 10px;
}
.per_sing::first-letter{
    font-size: 24px
}
.gv-heading{
    margin: 10px 0;
}
.fri-star{
    width: 15px;
}
.box-bg{
    background: url('../images/Background.png');
    background-repeat: no-repeat;
    background-size: 100% 410px;
}